<html>
    <head>
        <title>EAT Umea blog</title>
    </head>
    <body>
    	<div>
            <h1><a href="">Project EAT Blog</a></h1>
        </div>
        <p>Hi there!</p>
        <p>lets eat!</p>

        <div>
            <p>published: 01.10.2016, 12:14</p>
            <h2><a href="">Introduction</a></h2>
            <p>Project EAT Umeå is a public,food based participatory project working towards bringing people of different nationalities, languages and cultures together over food.</p>
        </div>

        <div>
            <p>published: 13.10.2016, 12:14</p>
            <h2><a href="">Kimchi workshop | EAT THE WORLD SERIES</a></h2>
            <p>Kimchi is the result of a powerful combination of fermented cabbage and chilli. It uses up all our senses by distracting us with the pungent smell and continues the theatre by performing a merry dance of salty, spicy, garlicky and sweet. Only 2 days left to our Kimchi workshop!.</p>
        </div>
    </body>
</html>

    </body>
</html>